<ng-template #addUserCliente>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="text-align: center;">Registro de usuario tipo cliente</h4>
    </div>
    <div class="modal-body">
        <form class="cForm" *ngIf="opStatus==='S'" [formGroup]="addForm" (submit)="invokeService()">
            <div class="cForm-field-row">
                <div class="cForm-field-col">
                    <div class="form-group">
                        <label for="userNewName">Nombre de usuario</label>
                        <input type="text" formControlName="nombre" class="form-control" id="userNewName"
                            aria-describedby="newNameHelp" />
                    </div>
                    <div class="form-group">
                        <label for="userNewapellido">Apellido de usuario</label>
                        <input type="text" formControlName="apellido" class="form-control" id="userNewapellido"
                            aria-describedby="newApellidoHelp" />
                    </div>
                    <div class="form-group">
                        <label for="userNewCorreo">Correo de usuario</label>
                        <input type="email" formControlName="correo" class="form-control" id="userNewCorreo"
                            aria-describedby="newCorreoHelp" />
                    </div>
                </div>
                <div class="cForm-field-col">
                    <div class="form-group">
                        <label for="userNewPass">Clave de acceso</label>
                        <input type="text" formControlName="password" class="form-control" id="userNewPass"
                            aria-describedby="newPassHelp" />
                    </div>
                </div>
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-danger" (click)="close()">Cancelar</button>
                <mat-divider [vertical]="true" [inset]="true"></mat-divider>
                <button type="button" class="btn btn-primary" (click)="invokeService()">Registrar</button>
            </div>
        </form>
        <div class="cForm" *ngIf="opStatus==='P'">
            <div class="cForm-field-row">
                <div class="cForm-field-col">
                    <div class="text-center">
                        <h3>Procesando operación</h3>
                    </div>
                    <div class="text-center" style="flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;">
                        <div class="spinner-border" style="width: 7.5rem; height: 7.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cForm" *ngIf="opStatus==='D'">
            <div class="cForm-field-row">
                <div class="cForm-field-col" style="justify-content:center;align-items: center;">
                    <h3>Operación exitosa</h3>
                    <mat-icon style="width: 7.5rem; height: 7.5rem;font-size:7.5rem;">
                        fact_check
                    </mat-icon>
                </div>
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-outline-dark" (click)="close()">Continuar</button>
            </div>
        </div>
        <div class="cForm" *ngIf="opStatus==='E'">
            <div class="cForm-field-row">
                <div class="cForm-field-col" style="justify-content:center;align-items: center;">
                    <h3>Ha ocurrido un error</h3>
                    <mat-icon style="width: 7.5rem; height: 7.5rem;font-size:7.5rem;">
                        report_problem
                    </mat-icon>
                    <h5>Su operación no pudo ser procesada</h5>
                </div>
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-outline-dark" (click)="close()">Continuar</button>
            </div>
        </div>
    </div>
</ng-template>