<div class="form_bg">
  <div class="container">
    <div class="row justify-content-center" style="flex-direction: column; align-items: center;">
      <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <form #f="ngForm" (ngSubmit)="onSubmit()" class="form_horizontal">
          <h2 class="title-principal">Mercadeo Ucab</h2>
          <div class="form-icon"><i class="fa fa-user-circle"></i></div>
          <h3 class="title">Login</h3>
          <div class="form-group">
            <span class="input-icon"> <i class="fa fa-at"></i></span>
            <input
              type="email"
              name="userEmail"
              #userEmail="ngModel"
              [(ngModel)]="model.correo"
              class="form-control"
              id="loginEmail"
              placeholder="Correo"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <span class="input-icon"> <i class="fa fa-lock"></i></span>
            <input
              type="password"
              class="form-control"
              id="loginPassword"
              placeholder="Password"
              name="userPassword"
              [(ngModel)]="model.password"
              #userPassword="ngModel"
              ngModel
              required
            />
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            Login <i class="fas fa-sign-in-alt"></i>
          </button>
          
          <ul class="form-options">
            <li>
              <button
                class="btn btn-primary"
                routerLink="/reset-password"
                routerLinkActive="active"
              >
                recuperar contraseña
              </button>
            </li>
            <li>
              <!--
              <button
                class="btn btn-primary"
                routerLink="/"
                routerLinkActive="active"
              >
                Register <i class="fas fa-arrow-right"></i>
              </button>
              -->
            </li>
          </ul>
        </form>
      </div>
      <div style="display: flex;flex-direction: row;">
        <button
        class="btn btn-primary"
        style="
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 10px 20px;
        margin: 0 7.5px 0px 0;
        border: none;
        border-radius: 20px;
        text-transform: uppercase;
        "
        (click)="openAddModal()"
        >
        Nuevo Cliente
        </button>
        <button
        class="btn btn-primary"
        style="
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 10px 20px;
        margin: 0 7.5px 0px 0;
        border: none;
        border-radius: 20px;
        text-transform: uppercase;
        "
        >
        Nuevo Encuestado
        </button>
      </div>
    </div>
  </div>
</div>
<app-add-cliente-dialog #addUserCliente></app-add-cliente-dialog>
