<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md3 mt-4">
      <h3>Reset Password</h3>
      <form>
        <div class="form-group">
          <label for="resetPasswordEmail" class="form-label"
            >Account Email</label
          >
          <input
            type="email"
            class="form-control"
            id="resetPasswordEmail"
            placeholder="Password"
            ngModel
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">
          Reset Password <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>
</div>
