<div class="form_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form_horizontal">
          <div class="form-icon"><i class="fas fa-inbox"></i></div>
          <h3 class="title">Reset Password</h3>
          <div class="form-group">
            <span class="input-icon"> <i class="fa fa-at"></i></span>
            <input
              type="email"
              class="form-control"
              id="resetPasswordEmail"
              placeholder="Password"
              name="userEmail"
              #userEmail="ngModel"
              ngModel
              required
            />
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            Reset Password <i class="fas fa-paper-plane"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
