<div class="form_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <form
          [formGroup]="addForm"
          class="form_horizontal"
          (ngSubmit)="serviceInvoke()"
        >
          <h2 class="title-principal">Mercadeo Ucab</h2>
          <div class="form-icon"><i class="fa fa-user-circle"></i></div>
          <h3 class="title">Registrar</h3>
          <div class="form-group">
            <input
              type="text"
              formControlName="nombre"
              class="form-control"
              id="registroNombre"
              placeholder="Nombre"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="apellido"
              class="form-control"
              id="registroApellido"
              placeholder="Apellido"
              required
            />
          </div>

          <div class="form-group">
            <span class="input-icon"> <i class="fa fa-at"></i></span>
            <input
              type="email"
              formControlName="correo"
              class="form-control"
              id="registroEmail"
              placeholder="Correo"
              required
            />
          </div>

          <div class="form-group">
            <span class="input-icon"> <i class="fa fa-lock"></i></span>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="registroPassword"
              placeholder="Password"
              required
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            (click)="openDatoEncuestadoModal()"
          >
            Registrar <i class="fas fa-sign-in-alt"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-registro-dato-encuestado #registroDatoEncuestado [IDusuario]="IDusuario">
</app-registro-dato-encuestado>
