<div
  class="container"
  style="
    height: 90vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <div *ngIf="op === ''" class="container" style="height: 100%; width: 100%">
    <div class="row" style="height: 50%">
      <div class="col-8">
        <mat-card class="menu-card" (click)="setOperation('add')">
          <mat-icon class="menu-card-icon"> add_box </mat-icon>
          <h3>Registrar locación</h3>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="menu-card" (click)="setOperation('del')">
          <mat-icon class="menu-card-icon"> delete_outline </mat-icon>
          <h3>Eliminar locaciones</h3>
        </mat-card>
      </div>
    </div>
    <div class="row" style="height: 50%">
      <div class="col">
        <mat-card class="menu-card" (click)="setOperation('upd')">
          <mat-icon class="menu-card-icon"> update </mat-icon>
          <h3>Modificar locaciones</h3>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="menu-card" (click)="setOperation('list')">
          <mat-icon class="menu-card-icon"> zoom_in </mat-icon>
          <h3>Consultar locaciones</h3>
        </mat-card>
      </div>
    </div>
  </div>
  <!--COMPONENTE DE BÚSQUEDA-->
  <div *ngIf="op === 'add'" style="height: 75%; width: 85%">
    <mat-card
      style="
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
      "
    >
      <div class="cForm" *ngIf="opStatus === 'S' && tipoLugar === ''">
        <div class="cForm-field-col" style="width: 100%">
          <div style="height: 15%; width: 100%">
            <h4>Tipo de locación</h4>
          </div>
          <div
            style="
              height: 32.5%;
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
            "
          >
            <div class="base-col">
              <mat-icon
                (click)="setTipoLugar('PA')"
                style="width: 5.5rem; height: 5.5rem; font-size: 5.5rem"
              >
                public</mat-icon
              >
              <a> País </a>
            </div>
            <div class="base-col">
              <mat-icon
                (click)="setTipoLugar('ES')"
                style="width: 5.5rem; height: 5.5rem; font-size: 5.5rem"
              >
                location_city
              </mat-icon>
              <a> Estado </a>
            </div>
          </div>
          <div
            style="
              height: 32.5%;
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
            "
          >
            <div class="base-col">
              <mat-icon
                (click)="setTipoLugar('MU')"
                style="width: 5.5rem; height: 5.5rem; font-size: 5.5rem"
              >
                domain
              </mat-icon>
              <a> Municipio </a>
            </div>
            <div class="base-col">
              <mat-icon
                (click)="setTipoLugar('PR')"
                style="width: 5.5rem; height: 5.5rem; font-size: 5.5rem"
              >
                home_work</mat-icon
              >
              <a> Parroquía </a>
            </div>
          </div>
          <div class="cForm-actions">
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="setOperation('')"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
      <form
        class="cForm"
        [formGroup]="addForm"
        *ngIf="opStatus === 'S' && tipoLugar !== ''"
        (submit)="serviceInvoke(tipoLugar)"
      >
        <ng-container [ngSwitch]="tipoLugar">
          <h4 *ngSwitchCase="'PA'">Nuevo Pais</h4>
          <h4 *ngSwitchCase="'ES'">Nuevo Estado</h4>
          <h4 *ngSwitchCase="'MU'">Nuevo Municipio</h4>
          <h4 *ngSwitchCase="'PR'">Nuevo Parroquia</h4>
        </ng-container>
        <div class="cForm-field-row" style="flex: 1">
          <div class="cForm-field-col">
            <div class="form-group">
              <label for="locNewName">Nombre de locación</label>
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                id="locNewName"
                aria-describedby="locNewNameHelp"
              />
            </div>
          </div>
          <div class="cForm-field-col">
            <ng-container [ngSwitch]="tipoLugar">
              <div class="form-group" *ngSwitchCase="'ES'">
                <label for="paisSelect">País asociado</label>
                <select
                  class="form-control"
                  id="paisSelect"
                  formControlName="pais"
                >
                  <option [ngValue]="null">Sin seleccionar...</option>
                  <option *ngFor="let el of _paises" [ngValue]="el">
                    {{ el.nombre }}
                  </option>
                </select>
              </div>
              <div class="form-group" *ngSwitchCase="'MU'">
                <label for="estSelect">Estado asociado</label>
                <select
                  class="form-control"
                  id="estSelect"
                  formControlName="estado"
                >
                  <option [ngValue]="null">Sin seleccionar...</option>
                  <option *ngFor="let el of _estados" [ngValue]="el">
                    {{ el.nombre }}
                  </option>
                </select>
              </div>
              <div class="form-group" *ngSwitchCase="'PR'">
                <label for="munSelect">Municipio asociado</label>
                <select
                  class="form-control"
                  id="munSelect"
                  formControlName="municipio"
                >
                  <option [ngValue]="null">Sin seleccionar...</option>
                  <option *ngFor="let el of _municipios" [ngValue]="el">
                    {{ el.nombre }}
                  </option>
                </select>
              </div>
            </ng-container>
            <div class="form-group" *ngIf="tipoLugar === 'PR'">
              <div class="form-group">
                <label for="locVal">Valor socio económico</label>
                <input
                  type="number"
                  formControlName="valor_socio_economico"
                  class="form-control"
                  id="locVal"
                  aria-describedby="locValHelp"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="cForm-actions">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="setOperation('')"
          >
            Cancelar
          </button>
          <mat-divider [vertical]="true" [inset]="true"></mat-divider>
          <button type="submit" class="btn btn-primary" style="color: white">
            Buscar
          </button>
        </div>
      </form>
      <div class="cForm" *ngIf="opStatus === 'P'">
        <div class="cForm-field-row">
          <div class="cForm-field-col">
            <h3>Procesando operación</h3>
            <div
              class="text-center"
              style="
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <div
                class="spinner-border"
                style="width: 7.5rem; height: 7.5rem"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cForm" *ngIf="opStatus === 'D'">
        <div class="cForm-field-row">
          <div
            class="cForm-field-col"
            style="justify-content: center; align-items: center"
          >
            <h3>Operación exitosa</h3>
            <mat-icon style="width: 7.5rem; height: 7.5rem; font-size: 7.5rem">
              fact_check
            </mat-icon>
          </div>
        </div>
        <div class="cForm-actions">
          <button 
            type="button"
            class="btn btn-outline-dark"
            (click)="setOperation('')"
          >
            Volver a menú
          </button>
        </div>
      </div>
      <div class="cForm" *ngIf="opStatus === 'E'">
        <div class="cForm-field-row">
          <div
            class="cForm-field-col"
            style="justify-content: center; align-items: center"
          >
            <h3>Ha ocurrido un error</h3>
            <mat-icon style="width: 7.5rem; height: 7.5rem; font-size: 7.5rem">
              report_problem
            </mat-icon>
            <h5>Su operación no pudo ser procesada</h5>
          </div>
        </div>
        <div class="cForm-actions">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="setOperation('')"
          >
            Continuar
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <div
    *ngIf="op !== 'add' && searchState === 'I'"
    style="height: 75%; width: 75%"
  >
    <mat-card
      style="
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
      "
    >
      <h4>Asistente de búsqueda</h4>
      <form (submit)="invokeSearch()" [formGroup]="searchForm" class="cForm" style="flex: 1;">
        <div class="cForm-field-row" style="flex: 1;">
          <div class="cForm-field-col">
            <h4>Buscar en :</h4>
            <div
              class="base-row"
              *ngFor="let lug of searchLugar; let i = index"
              style="justify-content: start"
            >
              <mat-checkbox
                [checked]="searchCheck(i)"
                (change)="checkForSearch(i)"
              >
                <ng-container [ngSwitch]="lug.t">
                  <h5 *ngSwitchCase="'PA'">Paises</h5>
                  <h5 *ngSwitchCase="'ES'">Estados</h5>
                  <h5 *ngSwitchCase="'MU'">Municipios</h5>
                  <h5 *ngSwitchCase="'PR'">Parroquias</h5>
                </ng-container>
              </mat-checkbox>
            </div>
          </div>
          <div class="cForm-field-col">
            <div class="form-group">
              <label for="locName">Nombre de locación</label>
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                id="locName"
                aria-describedby="locNameHelp"
              />
            </div>
          </div>
        </div>
        <div class="cForm-actions">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="setOperation('')"
          >
            Cancelar
          </button>
          <mat-divider [vertical]="true" [inset]="true"></mat-divider>
          <button type="submit" class="btn btn-primary" style="color: white">
            Buscar
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <!--COMPONENTE DE MUESTRA DE RESULTADOS-->
  <div
    *ngIf="searchState !== 'U' && searchState !== 'I'"
    style="
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    "
  >
    <div
      style="
        width: 80vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      "
      *ngIf="searchState === 'D'"
    >
      <ng-container *ngFor="let res of searchResults | keyvalue">
        <div
          style="
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
          "
          *ngIf="res.value.length > 0"
        >
          <mat-card>
            <ng-container [ngSwitch]="res.key">
              <h3 *ngSwitchCase="'PA'">Paises</h3>
              <h3 *ngSwitchCase="'ES'">Estados</h3>
              <h3 *ngSwitchCase="'MU'">Municipios</h3>
              <h3 *ngSwitchCase="'PR'">Parroquias</h3>
            </ng-container>
            <!--HEADER SPACE-->
            <!--<div *ngFor="let innerResult of result" class="base-row"></div>-->
            <div *ngFor="let result of res.value" class="base-row">
              <div style="flex:1;flex-direction: row; justify-content: center; align-items: center;">
                <h4 style="text-align: center;">
                  {{ result.nombre }}
                </h4>
              </div>
              <div style="flex:1;flex-direction: row; justify-content: center; align-items: center;">
                <!--OP SPACE -->
                <button
                  style="background-color: #00d8b4; color: white"
                  mat-mini-fab
                  aria-label="Example icon button with a filter list icon"
                  class="shadow-sm"
                >
                  <mat-icon>info</mat-icon>
                </button>
                <button
                  *ngIf="op === 'upd'"
                  style="
                    background-color: #00d8b4;
                    color: white;
                    margin: 0px 5px;
                  "
                  mat-mini-fab
                  aria-label="Example icon button with a filter list icon"
                  (click)="openUpdModal(0, res.key, result)"
                  class="shadow-sm"
                >
                  <mat-icon>autorenew</mat-icon>
                </button>
                <button
                  *ngIf="op === 'del'"
                  style="background-color: #00d8b4; color: white"
                  mat-mini-fab
                  aria-label="Example icon button with a filter list icon"
                  (click)="openDelModal(result._id, res.key,result)"
                  class="shadow-sm"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              
              </div>
              
            </div>
          </mat-card>
        </div>
      </ng-container>
    </div>
    <div
      class="cForm-field-col"
      style="justify-content: center; align-items: center; align-self: center"
      *ngIf="searchState === 'P'"
    >
      <div class="text-center">
        <h3>Procesando búsqueda</h3>
      </div>
      <div
        class="text-center"
        style="
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        "
      >
        <div
          class="spinner-border"
          style="width: 7.5rem; height: 7.5rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: row">
      <button
        mat-raised-button
        class="shadow-sm"
        (click)="doSearch()"
        style="color: white; background-color: #00d8b4"
      >
        <mat-icon> search </mat-icon>
      </button>
      <mat-divider
        [vertical]="true"
        [inset]="true"
        style="color: transparent"
      ></mat-divider>
      <button
        mat-raised-button
        class="shadow-sm"
        (click)="setOperation('')"
        style="color: white; background-color: #00d8b4"
      >
        Ir a menu principal
      </button>
    </div>
  </div>
</div>
<app-upd-lugar-dialog
  #updLugar
  [_tipo]="tipoLugar"
  [_updData]="targetData"
></app-upd-lugar-dialog>
<app-del-lugar-dialog
  #delLugar
  [_userSelection]="userSelection"
  [_lugar]="targetData"
></app-del-lugar-dialog>
