/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card{
    box-shadow:  0px 0.6px 0.5px 0.5px rgba(0, 0, 0, 0.132), 0px 1.8px 0.5px 0.5px rgba(0, 0, 0, 0.108);
    background-color: white;
}

.modal-dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-container {
    height: 90vh;
    width: 85vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-card {
    height: 90%;
    width: 95%; 
    display:flex !important;
    flex-direction: column;
    text-align: center;    
    align-items: center;
    justify-content: space-around;
}

.menu-card-icon {
    font-size: calc(17.5vh);
    width: calc(17.5vh) !important;
    height:calc(17.5vh) !important;
}

.step-container {
    height: calc((81vh - 16px) * 0.75);
    width: 100%;
    display: flex;
    flex-direction: column;
}

button:focus {
    outline:none !important;
}

.base-col {
    display: flex;
    flex-direction: column;
}

.base-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cForm {
    flex:1;
    display: flex;
    flex-direction: column;
}

.cForm-field-row {
    width: 100%;
    /*height: 100%;*/
    flex:1; 
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.cForm-field-col {
    width: 47.5%;
    height: 100%; 
    display: flex; 
    flex-direction: column;
}


.cForm-actions {
    display: flex;
    flex-direction:row;
    justify-content: center;
    color: transparent;
}

.modal-content{
    min-height: 60vh;
    min-width: 60vw;
    height: 60vh;
    width: 60vw;
}

.modal-body {
    display: flex;
}

.user-info {
    width: 90%;
    height: 65%;
    background-color: white;
    padding: 8px !important;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 10s linear forwards;
    animation: fadeinout 10s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% {opacity: 0;background-color: white;}
    10%{ opacity: 1;}
    90%{ opacity: 1;}
}

@keyframes fadeinout {
    0%,100% {opacity: 0;background-color: white;}
    10%{ opacity: 1;}
    90%{ opacity: 1;}
}