<mat-grid-list cols="16" rowHeight="10vh"
style="background-color: #E5FFF7;"
>
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="10"
    style="background-color:#5C9D8B;">
        <div class="dashboard-nav"
        style="
        height: 35% !important;
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        justify-self: center;"
        >
        <mat-grid-list cols="1" rowHeight="1:1">
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            >
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" 
            style="background-color: #00d8b4; color:white"
            (click)="onDir('analist/tasks')"
            >
                <mat-icon>text_snippet</mat-icon>
            </button>
            </mat-grid-tile>
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            >
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            style="background-color: #00d8b4; color:white"
            (click)="onDir('analist/overview')"
            >
                <mat-icon>home</mat-icon>
            </button>
            </mat-grid-tile> 
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            >
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            style="background-color: #00d8b4; color:white">
                <mat-icon>folder</mat-icon>
            </button>
            </mat-grid-tile>  
        </mat-grid-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="15"
    [rowspan]="1"
    >
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="15"
    [rowspan]="9"
    style="background-color: #E5FFF7;"
    >
    <router-outlet></router-outlet>
    </mat-grid-tile> 
</mat-grid-list>
