<div class="analista-estudio">
    <mat-grid-list cols="10" rowHeight="25%" *ngIf="_Estudio !== null else elseEstudio">
        <mat-grid-tile
        [colspan]="4"
        [rowspan]="4"
        >
            <mat-card class="estudio-poblacion">
                <mat-card-header style="padding:5px 0px;justify-content: space-around;">
                    <mat-card-title>
                       <h6>Población de estudio</h6>
                    </mat-card-title>
                    <button class="btn btn-outline-dark shadow-sm" style="padding: 0.15rem 0.15rem;
                    height: fit-content;
                    display: flex;">
                        <mat-icon>
                            more_horiz
                        </mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <div class="encuestado-content" *ngFor="let person of _encuestados">
                        <div style="display: flex;flex-direction:column;width: 20%;height: 100%;justify-content: space-around;align-items:center;">
                            <mat-icon style="color: #00d8b4;">
                                account_box
                            </mat-icon>
                            <mat-icon  style="color: greenyellow;" *ngIf="person.done === true; else notdone">
                                assignment_turned_in
                            </mat-icon>
                            <ng-template #notdone>
                                <mat-icon style="color: orange">
                                    assignment_late
                                </mat-icon>
                            </ng-template>
                        </div>
                        <div style="display: flex;flex-direction: column;width: 80%;height: 100%;justify-content: space-around;align-items:center;">
                            <label>{{person.nombre}}</label>
                            <label>{{person.apellido}}</label>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile
        [colspan]="6"
        [rowspan]="3"
        >
            <mat-card class="estudio-preguntas">
                <mat-card-header>
                    <mat-card-title>
                        <h6>Preguntas de estudio</h6>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <!--PREGUNTAS ESTUDIO-->
                    <div class="pregunta-content" *ngFor="let pregunta of _Estudio.encuesta">
                        <button disabled
                        type="button"
                        style="background-color: #00d8b4; color: white;
                        padding: 0.15rem 0.15rem;
                        height: fit-content;
                        display: flex;"
                        class="shadom-sm btn">
                        <mat-icon style="font-size: 28px;height: 28px;width: 28px;">
                            border_color
                        </mat-icon>
                        </button>
                        <div class="pregunta-descripcion">
                            <a>{{pregunta.pregunta.nombre}}</a> 
                        </div>
                        <!--
                        <button mat-raised-button aria-label="pregunta explain button">
                            <mat-icon>
                                more_vert
                            </mat-icon>
                        </button>
                        -->                   
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
        >
            <mat-card class="estudio-progreso">
                <mat-card-header>
                    <mat-card-title>
                       <h6>Progreso del estudio</h6>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!--PROGRESO ( Finalizados/ No finalizados/ N poblacion )-->
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <ng-template #elseEstudio>
        <div class="text-center" style="
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          ">
            <div class="spinner-border" style="width: 7.5rem; height: 7.5rem" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>
<app-basic-info-dialog #info [_tipo]="'Estudio'">
  <div class="cForm-field-row">
    <div class="cForm-field-col">
     
    </div>
    <div class="cForm-field-col">
    
    </div>
  </div>
</app-basic-info-dialog>
