<div>
  <!--
  <h1>Prueba 1 - {{ title }}</h1>
  <ul>
    <li>
      <a 
        routerLink="/encuestado" 
        routerLinkActive="active"
      > 
        Encuestado
      </a>
    </li>
    <li>
      <a 
        routerLink="/administrador" 
        routerLinkActive="active"
      >
        Administrador
      </a>
    </li>
    <li>
      <a 
        routerLink="/analist" 
        routerLinkActive="active"
      >
        Analista
      </a>
    </li>
  </ul>
  -->
  <router-outlet></router-outlet>
</div>
