<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.js"></script>
<!--
  <h1>Prueba 1 - {{ title }}</h1>
  <ul>
    <li>
      <a 
        routerLink="/encuestado" 
        routerLinkActive="active"
      > 
        Encuestado
      </a>
    </li>
    <li>
      <a 
        routerLink="/administrador" 
        routerLinkActive="active"
      >
        Administrador
      </a>
    </li>
    <li>
      <a 
        routerLink="/analist" 
        routerLinkActive="active"
      >
        Analista
      </a>
    </li>
  </ul>
  -->
  <router-outlet></router-outlet>

