.user-info {
    width: 90%;
    height: 65%;
    background-color: white;
    padding: 8px !important;
}

.dasboard-container {
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.dashborad-nav {
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboard-section {
    height: 100%;
    width: 80%;
}

.dashboard-item { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-scroll::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: transparent;
}

.dash-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.dash-scroll::-webkit-scrollbar-thumb {
  background: #00d8b4;
  border-radius: 5px;
}
/*
.dash-scroll::-webkit-scrollbar-thumb:hover {
  background: #959595;
}
*/
.dash-scroll::-webkit-scrollbar-corner {
  background-color: transparent;
}
