<ng-template  #delPresentacion>
    <!---->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eliminar presentación #{{_userSelection}}</h4>
    </div>
    <div class="modal-body">
        <!--INFORMATIVO-->
        <div class="cForm"  *ngIf="opStatus==='S'">
            <div class="cForm-field-row">
                <h5>{{_presentacion.tipo}} : {{_presentacion.cantidad}}</h5>
                <!--
                <div class="cForm-field-col">
        
                </div>
                <div class="cForm-field-col">
        
                </div>
                -->
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-danger" (click)="close()">Cancelar</button>
                <mat-divider [vertical]="true" [inset]="true"></mat-divider>
                <button type="button" class="btn btn-primary" (click)="invokeService()">Eliminar</button>
            </div>
        </div>
        <div class="cForm" *ngIf="opStatus==='P'">
            <div class="cForm-field-row">
                <div class="cForm-field-col">
                    <div class="text-center">
                        <h3>Procesando operación</h3>
                    </div>
                    <div class="text-center" style="flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;">
                        <div class="spinner-border" style="width: 7.5rem; height: 7.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cForm" *ngIf="opStatus==='D'">
            <div class="cForm-field-row">
                <div class="cForm-field-col" style="justify-content:center;align-items: center;">
                    <h3>Operación exitosa</h3>
                    <mat-icon style="width: 7.5rem; height: 7.5rem;font-size:7.5rem;">
                        fact_check
                    </mat-icon>
                </div>
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-outline-dark" (click)="close()">Continuar</button>
            </div>
        </div>
        <div class="cForm" *ngIf="opStatus==='E'">
            <div class="cForm-field-row">
                <div class="cForm-field-col" style="justify-content:center;align-items: center;">
                    <h3>Ha ocurrido un error</h3>
                    <mat-icon style="width: 7.5rem; height: 7.5rem;font-size:7.5rem;">
                        report_problem
                    </mat-icon>
                    <h5>Su operación no pudo ser procesada</h5>
                </div>
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-outline-dark" (click)="close()">Continuar</button>
            </div>
        </div>
    </div>
</ng-template>



