<mat-grid-list cols="16" rowHeight="10vh"
style="background-color: #E5FFF7;"
>
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="10"
    style="background-color:#5C9D8B;">
        <div class="dashboard-nav"
        style="
        height: 35% !important;
        display: flex !important;
        flex-direction: column !important;
        width: 60% !important;
        justify-self: center;"
        >
        <mat-grid-list cols="1" rowHeight="1:1">
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            >
            <a routerLink="/overview" routerLinkActive="active">overview</a>
            </mat-grid-tile>
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            style="background-color: #00d8b4;"
            >
            </mat-grid-tile> 
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            >3</mat-grid-tile>  
        </mat-grid-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="15"
    [rowspan]="1"
    >
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="15"
    [rowspan]="9"
    style="background-color: #E5FFF7;"
    >
    <router-outlet></router-outlet>
    </mat-grid-tile> 
</mat-grid-list>
