<div class="container menu-container">
	<mat-card style="height: 90%; width: 50%; display: flex;flex-direction: column;">
		<div>
			<h5>{{_Id}}</h5>	
		</div>
		<div style="overflow-y: auto;flex:1;background-color:yellow;">

		</div>
		<div class="cForm-actions">
            <button type="button" class="btn btn-danger">Cancelar</button>
            <mat-divider [vertical]="true" [inset]="true"></mat-divider>
            <button type="button" class="btn btn-primary">Enviar</button>
        </div>
	</mat-card>
</div>