.preguntas-scroll {
	
}
.pregunta-container {
	width: 100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pregunta-title {
	width: 100%;
    text-align: center;
}
.pregunta-content {
	display: flex;
    flex-direction: column;
    width: 100%;
}