<mat-drawer-container style="width: 100vw;height: 100vh;background-color: #E5FFF7;">
  <mat-drawer #dashDrawer style="width:12.5vw;height: 100%" mode="side">
    <div style="height: 100%;width: 100%;display: flex;flex-direction: column;background-color:#5C9D8B;overflow-y: auto;"
    class="dash-scroll">
       <div class="dashboard-item" *ngFor="let sect of sections;">
            <button mat-mini-fab
            style="background-color: #00d8b4; color:white" class="shadow-sm"
            (click)="onDir(sect.dir)">
                <mat-icon>{{sect.icon}}</mat-icon>
            </button>
            <label style="color:white">{{ sect.title }}</label>
       </div>
    </div>
  </mat-drawer>

  <div style="width: 85vw;height: 100%; display: flex;flex-direction: column;">
    <div style="display: flex;flex-direction: row;height: 10%; width: 100%">
        <div style="width: 50%;height: 100%; display: flex;flex-direction: row;align-items: center; justify-content: center;">
            <mat-card class="user-info elementToFadeInAndOut" *ngIf="openNote === true">                          
            </mat-card>
        </div>
        <div style="width: 50%;height: 100%; display: flex;flex-direction: row; align-items: center; justify-content: flex-end;">
            <button style="background-color: #00d8b4; color:white;" class="shadow-sm btn"
            (click)="openInfoModal()"
                type="button">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-card class="user-info">
            </mat-card>
        </div>
    </div>
    <div style="display: flex;flex-direction: row;height: 90%; width: 100%">
        <div style="
        display: flex;flex-direction: column;
        height: 100%; 
        width: fit-content;
        padding: 0px 5px 0px 5px;
        justify-content: center;
        align-items: center;">
            <button 
                type="button"
                mat-mini-fab
                style="background-color: #00d8b4; color:white" class="shadow-sm"
                (click)="dashDrawer.toggle()">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>
        <div style="display: flex;flex-direction: column;height: 100%; width:85%">
             <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</mat-drawer-container>
<app-basic-info-dialog #uInfo [_tipo]="'Sesión'">
  <div class="cForm-field-row">
    <div class="cForm-field-col">
      
    </div>
    <div class="cForm-field-col">
    
    </div>
  </div>
</app-basic-info-dialog>
<!--
<mat-grid-list cols="16" rowHeight="10vh"
style="background-color: #E5FFF7;"
>
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="10"
    style="background-color:#5C9D8B;">
        <div class="dashboard-nav"
        style="
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        justify-self: center;"
        >
        <mat-grid-list cols="1" rowHeight="1:1">
     
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            >
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" 
            style="background-color: #00d8b4; color:white"
            (click)="onDir('encuestado/pending')"
            >
                <mat-icon>assignment_late</mat-icon>
            </button>
            </mat-grid-tile>
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            >
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" 
            style="background-color: #00d8b4; color:white"
            (click)="onDir('encuestado/home')"
            >
                <mat-icon>home</mat-icon>
            </button>
            </mat-grid-tile>
           
            </mat-grid-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="15"
    [rowspan]="1"
    >
        <div style="width: 100%;height: 100%;align-self: center; justify-self: end;">
            <mat-grid-list cols="8" rowHeight="10vh">
                <mat-grid-tile [colspan]="8" [rowspan]="1">
                  <div style="width: 100%;height: 100%;">
                    <mat-grid-list cols="8" rowHeight="10vh">
                      <mat-grid-tile [colspan]="5" [rowspan]="1">
                        <mat-card class="user-info elementToFadeInAndOut" *ngIf="openNote === true">
                          
                        </mat-card>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div
                          style="width: 100%;display: flex;flex-direction: row; justify-content: flex-end;align-items: center;">
                          <button style="background-color: #00d8b4; color:white;" class="shadow-sm btn" type="button"
                            data-toggle="popover" ngbPopover="TEXTO DE MUESTRA PARA POP-OVER" placement="left" triggers="manual"
                            #usernote="ngbPopover">
                            <mat-icon>account_circle</mat-icon>
                          </button>
                        </div>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-card class="user-info">
        
                        </mat-card>
                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="15"
    [rowspan]="9"
    style="background-color: #E5FFF7;"
    >
        <router-outlet></router-outlet>
    </mat-grid-tile> 
</mat-grid-list>-->


