<div class="app-analista-overview">
    <mat-grid-list cols="8" rowHeight="50%">
    <mat-grid-tile
    [colspan]="5"
    [rowspan]="1"
    >
    <mat-card 
    style="background-color: white; height: 90%; width: 100%; justify-self: center; align-self: center;">Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="3"
    [rowspan]="1"
    >
    <mat-card 
    style="background-color: white; height: 90%; width: 80%; justify-self: flex-end; align-self: center;">Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="8"
    [rowspan]="1"
    
    >
    <mat-card 
    style="background-color: white; height: 80%; width: 100%; justify-self: center; align-self: center;">Simple card</mat-card>
    </mat-grid-tile>
    </mat-grid-list>
</div>