<div class="app-analista-overview">
    <mat-grid-list cols="8" rowHeight="50%">
    <mat-grid-tile
    [colspan]="5"
    [rowspan]="1"
    >
    <mat-card 
    style="background-color: white; height: 87.5%; width: 100%; justify-self: flex-start; align-self: center;">
        <mat-card-header>
            <mat-card-title>Asignación mas reciente</mat-card-title>
        </mat-card-header>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="3"
    [rowspan]="1"
    >
    <mat-card 
    style="background-color: white; height:87.5%; width: 80%; justify-self: flex-start; align-self: center;">
        <mat-card-header>
            <mat-card-title>último ingreso</mat-card-title>
        </mat-card-header>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="8"
    [rowspan]="1"
    >
    <mat-card 
    style="background-color: white; height: 80%; width: 100%; justify-self: center; align-self: center;">
        <mat-card-header>
            <mat-card-title>Ultimos avances</mat-card-title>
        </mat-card-header>
    </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
</div>