<!--
<app-data-table [_data]="users" [_displayedColumns]="displayedColumns" [_columnsToDisplay]="columnsToDisplay">
    <ng-container matColumnDef="test">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
</app-data-table>
-->
<app-data-table>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!--
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
       
        <ng-container matColumnDef="fecha_asig">
            <th mat-header-cell *matHeaderCellDef> Fecha de asignación </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_asig}} </td>
        </ng-container>
        
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
                <div 
                class="estado-cell"
                *ngIf="element.estado === 'I'; else message">
                    <a>No iniciado</a>
                    <button  mat-mini-fab 
                    style="background-color: #00d8b4; color:white"
                    aria-label="Example icon button with a filter list icon"
                    (click)="onDirEstudio('analist/estudio',element.Id)">
                        <mat-icon>more_time</mat-icon>
                    </button>
                </div>
                <ng-template #message>
                <div
                class="estado-cell">
                    <a>En ejecución</a>
                    <button 
                    style="background-color: #00d8b4; color:white"
                    mat-mini-fab  aria-label="Example icon button with a filter list icon"
                    (click)="onDirEstudio('analist/estudio',element.Id)">
                        <mat-icon>refresh</mat-icon>
                    </button >
                </div>
                </ng-template> 
            </td>
        </ng-container>
        -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</app-data-table>