<mat-card class="app-analista-tasks" style="overflow-y: scroll;">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <!--fecha_asig-->
        <ng-container matColumnDef="fecha_asig">
            <th mat-header-cell *matHeaderCellDef> Fecha de asignación </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_asig}} </td>
        </ng-container>
        <!-- estado Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
                <div 
                class="estado-cell"
                *ngIf="element.estado === 'I'; else message">
                    <a>No iniciado</a>
                    <button  mat-mini-fab 
                    style="background-color: #00d8b4; color:white"
                    aria-label="Example icon button with a filter list icon"
                    (click)="onDirEstudio('analist/estudio',element.Id)">
                        <mat-icon>more_time</mat-icon>
                    </button>
                </div>
                <ng-template #message>
                <div
                class="estado-cell">
                    <a>En ejecución</a>
                    <button 
                    style="background-color: #00d8b4; color:white"
                    mat-mini-fab  aria-label="Example icon button with a filter list icon"
                    (click)="onDirEstudio('analist/estudio',element.Id)">
                        <mat-icon>refresh</mat-icon>
                    </button >
                </div>
                </ng-template> 
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
