<div class="container menu-container">
  <div
    class="container base-col"
    style="
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
    "
    *ngIf="enc === ''"
  >
    <div class="row" style="height: 50%">
      <div class="col-6">
        <mat-card (click)="setEnc('L')" class="menu-card">
          <mat-icon class="menu-card-icon"> assignment_late </mat-icon>
          <h3>Encuestas pendientes</h3>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card (click)="setEnc('D')" class="menu-card">
          <mat-icon class="menu-card-icon"> assignment_turned_in </mat-icon>
          <h3>Encuestas realizadas</h3>
        </mat-card>
      </div>
    </div>
  </div>
  <div
    class="container base-col"
    style="
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    "
    *ngIf="enc !== ''"
  >
    <!--LISTADO VARIABLE-->
    <mat-card class="data-table">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        style="flex: 1; overflow-y: auto"
        *ngIf="searchState === 'D'"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">#{{ element._id }}</td>
        </ng-container>
        <!--
                <ng-container matColumnDef="desc">
                    <th mat-header-cell *matHeaderCellDef>Titulo pregunta</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nombre_pregunta}}
                    </td>
                </ng-container>
                -->
        <ng-container matColumnDef="selector">
          <th mat-header-cell *matHeaderCellDef>Selección</th>
          <td mat-cell *matCellDef="let element">
            <!--
                        <mat-checkbox [checked]="isSelected(element._id)" (change)="selectUser(element._id,element)">
                        </mat-checkbox>
                    -->
          </td>
        </ng-container>
        <ng-container matColumnDef="ops">
          <th mat-header-cell *matHeaderCellDef>Operación</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <button
                *ngIf="enc === 'D'"
                style="background-color: #00d8b4; color: white"
                mat-mini-fab
                aria-label="Example icon button with a filter list icon"
                class="shadow-sm"
              >
                <mat-icon>info</mat-icon>
              </button>
              <button
                *ngIf="enc === 'L'"
                style="background-color: #00d8b4; color: white; margin: 0px 5px"
                mat-mini-fab
                aria-label="Example icon button with a filter list icon"
                (click)="onDirEncuesta('', element._id)"
                class="shadow-sm"
              >
                <mat-icon>autorenew</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <!--DEMÁS COLUMNAS REQUERIDAS-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        class="cForm-field-col"
        style="justify-content: center; align-items: center; align-self: center"
        *ngIf="searchState === 'P'"
      >
        <div class="text-center">
          <h3>Procesando búsqueda</h3>
        </div>
        <div
          class="text-center"
          style="
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          "
        >
          <div
            class="spinner-border"
            style="width: 7.5rem; height: 7.5rem"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </mat-card>
    <!--CONTROLES DE LISTADO-->
    <div style="display: flex; flex-direction: row">
      <button
        mat-raised-button
        class="shadow-sm"
        style="color: white; background-color: #00d8b4"
      >
        <mat-icon> autorenew </mat-icon>
      </button>
      <mat-divider
        [vertical]="true"
        [inset]="true"
        style="color: transparent"
      ></mat-divider>
      <button
        mat-raised-button
        class="shadow-sm"
        (click)="setEnc('')"
        style="color: white; background-color: #00d8b4"
      >
        Ir a menu principal
      </button>
    </div>
  </div>
</div>
