<ng-template  #updPregunta>
    <!---->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modificar pregunta #{{_pregunta._id}}</h4>
    </div>
    <div class="modal-body">
        <!--INFORMATIVO-->
        <form [formGroup]="updForm" class="cForm" (submit)="invokeService()" *ngIf="opStatus==='S'">
            <div class="cForm-field-row">
                <div class="cForm-field-col">
                    <div class="form-group">
                        <label for="pregNewName">Nombre de Pregunta</label>
                        <input type="text" 
                        formControlName="nombre_pregunta" class="form-control" id="pregNewName"
                            aria-describedby="newNameHelp"/>
                    </div>
                </div>
                <div class="cForm-field-col">
                    <ng-container [ngSwitch]="_pregunta.tipo">
                        <!--
                        <div *ngSwitchCase="'simple'"
                            style="height: 100%; display: flex;flex-direction: column; overflow-y: auto;align-items: center;">
                            <div class="form-group" *ngFor="let option of _pregunta.opciones;let i=index;">
                                <label for="{{'option-'+i}}">Opción #{{i+1}}</label>
                                <div style="display: flex;  flex-direction: row; width: 100%; justify-content: space-around;">
                                    <input type="text" class="form-control" id="{{'option-'+i}}" (change)="setOption(i,$event.target.value)"
                                        value="{{ option.nombre_opcion }}" style="height: fit-content; width: 80%;" />
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'multiple'"
                            style="height: 100%; display: flex;flex-direction: column; overflow-y: auto;align-items: center;">
                            <div class="form-group" *ngFor="let option of _pregunta.opciones;let i=index;">
                                <label for="{{'option-'+i}}">Opción #{{i+1}}</label>
                                <div style=" display: flex;flex-direction: row; width: 100%; justify-content: space-around;">
                                    <input type="text" class="form-control" id="{{'option-'+i}}" (change)="setOption(i,$event.target.value)"
                                        value="{{ option.nombre_opcion }}" style="height: fit-content; width: 80%;" />
                                </div>
                            </div>
                        </div>
                    -->    
                    <div *ngSwitchCase="'rango'" style="height: 100%; display: flex;flex-direction: column; overflow-y: auto;align-items: center;">
                        <div class="form-group">
                            <label>Rango permitido</label>
                            <div style="
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            justify-content: space-around;">
                            <input type="number" 
                            class="form-control" id="rango-preg-min"
                            min="0"
                            (change)="rangeConcat(0,$event.target.value)"
                            style="height: fit-content; width: 45%;"/>
                            <h4>-</h4>
                            <input type="number" 
                            class="form-control" id="rango-preg-max"
                            min="{{minF+1}}"
                            (change)="rangeConcat(1,$event.target.value)"
                            style="height: fit-content; width: 45%;"/>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                </div>
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-danger" (click)="close()">Cancelar</button>
                <mat-divider [vertical]="true" [inset]="true"></mat-divider>
                <button type="button" class="btn btn-primary" (click)="invokeService()">Modificar</button>
            </div>
        </form>
        <div class="cForm" *ngIf="opStatus==='P'">
            <div class="cForm-field-row">
                <div class="cForm-field-col">
                    <div class="text-center">
                        <h3>Procesando operación</h3>
                    </div>
                    <div class="text-center" style="flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;">
                        <div class="spinner-border" style="width: 7.5rem; height: 7.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cForm" *ngIf="opStatus==='D'">
            <div class="cForm-field-row">
                <div class="cForm-field-col" style="justify-content:center;align-items: center;">
                    <h3>Operación exitosa</h3>
                    <mat-icon style="width: 7.5rem; height: 7.5rem;font-size:7.5rem;">
                        fact_check
                    </mat-icon>
                </div>
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-outline-dark" (click)="close()">Continuar</button>
            </div>
        </div>
        <div class="cForm" *ngIf="opStatus==='E'">
            <div class="cForm-field-row">
                <div class="cForm-field-col" style="justify-content:center;align-items: center;">
                    <h3>Ha ocurrido un error</h3>
                    <mat-icon style="width: 7.5rem; height: 7.5rem;font-size:7.5rem;">
                        report_problem
                    </mat-icon>
                    <h5>Su operación no pudo ser procesada</h5>
                </div>
            </div>
            <div class="cForm-actions">
                <button type="button" class="btn btn-outline-dark" (click)="close()">Continuar</button>
            </div>
        </div>
    </div>
</ng-template>

