<div class="container menu-container">
    <div *ngIf="op===''" class="container" style="height: 100%;width: 100%;">
        
        <div class="row" style="height: 50%;">
            <div class="col-8">
                <mat-card class="menu-card" (click)="setOperation('add')">
                    <mat-icon class="menu-card-icon">
                        add_box
                    </mat-icon>
                    <h3>Registrar estudios</h3>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="menu-card" (click)="setOperation('del')">
                    <mat-icon class="menu-card-icon">
                        delete_outline
                    </mat-icon>
                    <h3>Eliminar estudios</h3>
                </mat-card>
            </div>
        </div>
        <div class="row" style="height: 50%;">
            <div class="col">
                <mat-card class="menu-card" (click)="setOperation('upd')">
                    <mat-icon class="menu-card-icon">
                        update
                    </mat-icon>
                    <h3>Modificar estudios</h3>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="menu-card" (click)="setOperation('list')">
                    <mat-icon class="menu-card-icon">
                        zoom_in
                    </mat-icon>
                    <h3>Consultar estudios</h3>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="op==='add'" style="height: 90%;width: 90%;">
        
        <mat-card style="height: 100%;width: 100%;text-align: center;display: flex;flex-direction: column;">
            <mat-horizontal-stepper [linear]="true" id="estudio-stepper" *ngIf="opStatus==='S'">
                <mat-step state='solicitud' style="background-color: aqua;">
                    <div class="step-container">
                        <form class="cForm" [formGroup]="addForm" (submit)="stepCheck()" style="height: 100%; justify-content: space-around;">
                            <div  style="height: 85%;
                            overflow-y: auto; display: flex; flex-direction: column;">
                            <mat-radio-group formControlName="fk_solicitud" style="display: flex; flex-direction: column; align-items: center;min-height: 100%;">
                                <div *ngFor="let solicitud of solicitudes" class="shadow-sm mat-card"
                                style="display: flex;flex-direction: row;margin-bottom: 5px;width: 95%; justify-content: space-between;height:calc(25% - 5px);">
                                    <div style="display: flex;flex-direction: row;">
                                        <mat-icon>assignment</mat-icon>
                                        <h5>Solicitud #{{solicitud._id}}</h5>
                                    </div>
                                    <div>
                                        
                                    </div>
                                    <mat-radio-button [value]="solicitud._id"></mat-radio-button>
                                </div>
                            </mat-radio-group>
                            </div>
                        <div class="cForm-actions" style="height: 12.5%;">
                            <button type="button" class="btn btn-outline-dark">Cancelar</button>
                            <mat-divider [vertical]="true" [inset]="true" style="color: transparent;"></mat-divider>
                            <button type="submit" class="btn btn-primary" style="color: white;">Buscar</button>
                        </div>
                        </form>
                    </div>
                </mat-step>
                <mat-step state='review' style="background-color: aqua;">
                    <div class="step-container">
                        <h3>Información de solicitud {{addForm.value.fk_solicitud}}</h3>
                    </div>
                </mat-step>
                
                <mat-step state="preguntas"> 
                    <div class="step-container">
                        <form class="cForm" [formGroup]="addForm" (submit)="stepCheck()">
                            <div class="cForm-field-row">
                                <div class="cForm-field-col">
                                    <div style="display: flex;flex-direction: row; width: 100%;">
                                        <div style="width: 20%;"></div>
                                        <div style="width: 60%;">
                                            <h5>Preguntas a asignar</h5>
                                        </div>
                                        <div style="width: 20%;">
                                        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" 
                                        style="background-color: #00d8b4; color:white;"
                                        class="shadow-sm"
                                        >
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        </div>
                                    </div>
                                    <div style="height: 80%;display: flex;flex-direction: column; overflow-y: auto;">
                                        
                                    </div>
                                </div>
                                <div class="cForm-field-col">
                                    <div style="display: flex;flex-direction: row; width: 100%;">
                                        <div style="width: 20%;"></div>
                                        <div style="width: 60%;">
                                            <h5>Preguntas existentes</h5>
                                        </div>
                                        <div style="width: 20%;"></div>
                                    </div>
                                    <div style="height: 80%;display: flex;flex-direction: column; overflow-y: auto;">
                                        <div *ngFor="let pregunta of preguntas" class="mat-card" style="height: 20%;margin-bottom: 5%;">
                                            <h6>{{pregunta.nombre_pregunta}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div> 
                </mat-step>
                  <ng-template matStepperIcon="solicitud">
                    <mat-icon>assignment</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="review">
                    <mat-icon>chrome_reader_mode</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="preguntas">
                    <mat-icon>help_center</mat-icon>
                  </ng-template>

            </mat-horizontal-stepper>
            <div class="cForm" *ngIf="opStatus==='P'">
                <div class="cForm-field-row">
                    <div class="cForm-field-col">
                        <h3>Procesando operación</h3>
                        <div class="text-center" style="flex: 1;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;">
                            <div class="spinner-border" style="width: 7.5rem; height: 7.5rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cForm" *ngIf="opStatus==='D'">
                <div class="cForm-field-row">
                    <div class="cForm-field-col" style="justify-content:center;align-items: center;">
                        <h3>Operación exitosa</h3>
                        <mat-icon style="width: 7.5rem; height: 7.5rem;font-size:7.5rem;">
                            fact_check
                        </mat-icon>
                    </div>
                </div>
                <div class="cForm-actions">
                    <button type="button" class="btn btn-outline-dark" (click)="setOperation('')">Volver a menú</button>
                </div>
            </div>
            <div class="cForm" *ngIf="opStatus==='E'">
                <div class="cForm-field-row">
                    <div class="cForm-field-col" style="justify-content:center;align-items: center;">
                        <h3>Ha ocurrido un error</h3>
                        <mat-icon style="width: 7.5rem; height: 7.5rem;font-size:7.5rem;">
                            report_problem
                        </mat-icon>
                        <h5>Su operación no pudo ser procesada</h5>
                    </div>
                </div>
                <div class="cForm-actions">
                    <button type="button" class="btn btn-outline-dark" (click)="setOperation('')">Continuar</button>
                </div>
            </div>
        </mat-card>
    </div>
    <div *ngIf="op!=='add' && searchState==='I'" style="height: 75%;width: 75%;">
        <mat-card style="height: 100%;width: 100%;text-align: center;display: flex;flex-direction: column;">
            <h4>Asistente de búsqueda</h4>
            <form [formGroup]="searchForm" (submit)="invokeSearch()" class="cForm">
                <div class="cForm-field-row">
                    <div class="cForm-field-col">
                        <!--
                        <div class="form-group">
                            <label for="userNewName">Nombre de usuario</label>
                            <input type="text" formControlName="nombre" class="form-control" id="userNewName" aria-describedby="newNameHelp">
                        </div>
                        <div class="form-group">
                            <label for="userNewLName">Apellido de usuario</label>
                            <input type="text" formControlName="apellido" class="form-control" id="userNewLName" aria-describedby="newLNameHelp">
                        </div>
                        <div class="form-group">
                            <label for="reg-date">Fecha de registro</label>
                            <input type="date" class="form-control" formControlName="creado_el" id="reg-date"/>
                        </div>
                        -->
                    </div>
                    <div class="cForm-field-col">
                        <!--
                        <div class="form-group">
                            <label for="rolSelect">Rol de usuario</label>
                            <select class="form-control" id="rolSelect" formControlName="rol">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="estadoSelect">Estado de usuario</label>
                            <select class="form-control" id="estadoSelect" formControlName="estado">
                                <option>Activo</option>
                                <option>Inactivo</option>
                            </select>
                        </div>
                        -->
                    </div>
                </div>
                <div class="cForm-actions">
                    <button type="button" class="btn btn-outline-dark" (click)="setOperation('')">Cancelar</button>
                    <mat-divider [vertical]="true" [inset]="true"></mat-divider>
                    <button type="submit" class="btn btn-primary" style="color: white;">Buscar</button>
                </div>
                </form>
            </mat-card>
        </div>
        <div *ngIf="searchState!=='U' && searchState!=='I'"
            style="width: 100%;height:100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
            <app-data-table>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="flex:1; overflow-y: auto;" *ngIf="searchState==='D'">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>Id</th>
                        <td mat-cell *matCellDef="let element"> {{element.id_estudio}} </td>
                    </ng-container>
                    <!--RESTO DE COLUMNAS RELEVANTES-->
                    <ng-container matColumnDef="selector">
                        <th mat-header-cell *matHeaderCellDef>Selección</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox [checked]="isSelected(element.id_estudio)" (change)="selectUser(element.id_estudio,element)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="ops">
                        <th mat-header-cell *matHeaderCellDef>Operación</th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="isSelected(element.id_estudio)">
                                <button style="background-color: #00d8b4; color:white" mat-mini-fab
                                    aria-label="Example icon button with a filter list icon" class="shadow-sm"
                                    >
                                    <mat-icon>info</mat-icon>
                                </button>
                                <button *ngIf="op==='upd'" style="background-color: #00d8b4; color:white; margin:0px 5px"
                                    mat-mini-fab aria-label="Example icon button with a filter list icon"
                                    (click)="openUpdModal()" 
                                    class="shadow-sm">
                                    <mat-icon>autorenew</mat-icon>
                                </button>
                                <button *ngIf="op==='del'" style="background-color: #00d8b4; color:white" mat-mini-fab
                                    aria-label="Example icon button with a filter list icon" 
                                    (click)="openDelModal()"
                                    class="shadow-sm">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="cForm-field-col" style="justify-content:center;align-items: center; align-self: center;" *ngIf="searchState==='P'">
                    <div class="text-center">
                        <h3>Procesando búsqueda</h3>
                    </div>
                    <div class="text-center" style="flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;">
                        <div class="spinner-border" style="width: 7.5rem; height: 7.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </app-data-table>
            <div style="display: flex;flex-direction:row">
                <button mat-raised-button class="shadow-sm" (click)="doSearch()" style="color: white;background-color:#00d8b4;">
                    <mat-icon>
                        search
                    </mat-icon>
                </button>
                <mat-divider [vertical]="true" [inset]="true" style="color: transparent;"></mat-divider>
                <button mat-raised-button class="shadow-sm" (click)="setOperation('')"
                    style="color: white;background-color:#00d8b4;">Ir a menu principal</button>
            </div>
        </div>
</div>
<app-upd-estudio-dialog #updEstudio [_userSelection]="userSelection"></app-upd-estudio-dialog>
<app-del-estudio-dialog #delEstudio [_userSelection]="userSelection"></app-del-estudio-dialog>
 <!--
                <mat-step state='solicitud' style="background-color: aqua;">
                    <div class="step-container">
                        <form class="cForm" [formGroup]="addForm" (submit)="stepCheck()">
                            <div class="cForm-field-row">
                                <div class="cForm-field-col">
                                    <div class="form-group">
                                        <label for="marcaSelect">Marca asociada</label>
                                        <select class="form-control" id="marcaSelect" formControlName="fk_marca">
                                            <option [ngValue]="0" selected>...</option>
                                            <option  *ngFor="let marca of marcas" [ngValue]='marca.id_marca'>Marca #{{marca.id_marca}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="tipoSelect">Tipo de solicitud</label>
                                        <select class="form-control" id="tipoSelect" formControlName="fk_tipoSolicitud">
                                            <option [ngValue]="0" selected>...</option>
                                            <option [ngValue]="1">Tipo solicitud #1</option>
                                            <option [ngValue]="2">Tipo solicitud #2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="cForm-field-col">

                                </div>
                            </div>
                            <div class="cForm-actions">
                                <button type="button" class="btn btn-outline-dark">Cancelar</button>
                                <mat-divider [vertical]="true" [inset]="true" style="color: transparent;"></mat-divider>
                                <button type="submit" class="btn btn-primary" style="color: white;">Buscar</button>
                            </div>
                        </form>
                    </div>
                </mat-step>
                -->
                <!--
                <mat-step  state="producto">
                    <div class="step-container">
                        <form class="cForm" [formGroup]="addForm" (submit)="stepCheck()">
                            <div class="cForm-field-row">
                                <div class="cForm-field-col">
                                    <div class="form-group">
                                        <label for="presentacionSelect">Presentación del producto</label>
                                        <select class="form-control" id="presentacionSelect" formControlName="fk_presentacion">
                                            <option [ngValue]="0" selected>...</option>
                                            <option  *ngFor="let pres of presentaciones" [ngValue]='pres.id_presentacion'>{{pres.cantidad}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="subCatSelect">Presentación del producto</label>
                                        <select class="form-control" id="subCatSelect" formControlName="fk_subCategoria">
                                            <option [ngValue]="0" selected>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="cForm-field-col">

                                </div>
                            </div>
                            <div class="cForm-actions">
                                <button type="button" class="btn btn-outline-dark" (click)="setOperation('')">Cancelar</button>
                                <mat-divider [vertical]="true" [inset]="true" style="color: transparent;"></mat-divider>
                                <button type="submit" class="btn btn-primary" style="color: white;">Buscar</button>
                            </div>
                        </form>
                    </div>
                </mat-step>
                -->
                <!--
                            <div class="cForm-actions">
                                <button type="button" class="btn btn-outline-dark" (click)="setOperation('')">Cancelar</button>
                                <mat-divider [vertical]="true" [inset]="true" style="color: transparent;"></mat-divider>
                                <button type="submit" class="btn btn-primary" style="color: white;">Buscar</button>
                            </div>
                            -->
                            <!--
                <mat-step state="review"> 
                    <div class="step-container">
                        <form class="cForm">
                            <div class="cForm-field-row">
                                <h2>Resumen de solicitud</h2>
                            </div>
                            <div class="cForm-actions">
                                <button type="button" class="btn btn-outline-dark" (click)="setOperation('')">Cancelar</button>
                                <mat-divider [vertical]="true" [inset]="true" style="color: transparent;"></mat-divider>
                                <button type="submit" class="btn btn-primary" style="color: white;">Buscar</button>
                            </div>
                        </form>
                    </div>
                </mat-step>
                -->
                <!--
                  <ng-template matStepperIcon="producto">
                    <mat-icon>list_alt</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="preguntas">
                    <mat-icon>help_center</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="review">
                    <mat-icon>fact_check</mat-icon>
                  </ng-template>
                    -->